.search-searchContainer{
    width:75vw;
    background-color: #453257;
    height:100vh;
}
.search-searchContent{
    height:calc(100vh - 64px);
}
.search-bottomButton{
    height: 64px;
    width: 75vw;
    border-radius: 0;
    font-size: 16px;
    border: 0;
    background-color: #D5EF7F;
    color: #453257;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .search-icon{
    color:#8560A9;
    font-size: 14px;
    margin: 15px 0 5px 0;
    text-align: center;
    line-height: 18px;
    width: 75vw;
}
.search-icon i::before{
    margin:0 1.875vw;
    font-size: 18px;
    vertical-align: middle;
}
.search-filterDesc{
    font-size: 12px;
    text-size-adjust: none;
    transform: scale(0.83, 0.83) translate(-9vw, 0px);
    width: 90vw;
    text-align: center;
    color:#8560A9;
}
.search-dateContainer{
    text-align: center;
}
.search-channelContainer{
    text-align: center;
}
.search-title{
    color:#AC8EC9;
    text-align: center;
    font-size: 12px;
    display:inline-block;
    border-bottom:2px solid #AC8EC9;
    padding-bottom:2px;
    margin: 8px ;
}
.search-dates{
    display: flex;
    flex-wrap: wrap;
    margin: 8px 8px 0 8px;
}
.search-dateItem{
    color:#E8E8E8;
    font-size: 14px;
    line-height: 20px;
    border-radius: 12px;
    padding: 3px 8px;
    height: 24px;
    margin-bottom: 8px;
}

.search-channels{
    display: flex;
    flex-wrap: wrap;
    margin: 8px 8px 0 8px;
}
.search-channelItem{
    color:#FFFFFF;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    border: 1px solid #fff;;
    padding: 3px 8px;
    margin-right: 8px;
    height: 24px;
    margin-bottom: 8px;
}
.search-active{
    background-color: #E5F7A9;
    color:#453257;
}
