.setting-topContainer{
    height:44vh;
    width: 100vw;
}
.setting-avatar{
    width: 100vw;
    text-align: center;
}
.setting-avatar img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 6.3vh 0;
}
.setting-username{
    color:#67616D;
    font-size: 24px;
    text-align: center;
}

.setting-email{
    color:#8560A9;
    font-size: 14px;
    margin: 3.8vh 0;
    text-align: center;
    line-height: 18px;
}
.setting-email i{
    vertical-align: bottom;
}
.setting-email i::before{
    margin:0 1.875vw;
    font-size: 18px;
    vertical-align: middle;
}
.setting-middleContainer{
    border:1px solid #E8E8E8;
    box-sizing: border-box;
    height:9vh; 
    width: 100vw;
    padding:0 0vw 0 10vw;
}
.setting-emptyEvents i{
    font-size: 60px;
    color:#D3C1E5;
}
.setting-emptyEvents p{
    font-size: 14px;
    color:#BABABA;
}
.setting-bottomContainer{
    min-height:40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}