.eventPreview-eventItem {
    /* flex:1; */
    margin: 20px 5vw 0 5vw;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    min-height: 216px;
    max-height: 216px;
    position: absolute;
}

.eventPreview-creatorChannel {
    width: 100%;
    height: 20px;
}
.eventPreview-creatorInfo {
    float: left;
}
.eventPreview-userImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.eventPreview-username {
    color: #67616d;
    font-size: 12px;
    margin-left: 8px;
}
.eventPreview-channel {
    float: right;
    font-size: 12px;
    color: #8560a9;
    border: 1px solid #d3c1e5;
    border-radius: 10px;
    padding: 0 8px;
}
.eventPreview-eventName {
    color: #453257;
    font-size: 18px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    text-align: left;
    line-height: 24px;
    margin: 8px 0;
    height: 48px;
}
.eventPreview-timeInfo {
    color: #8560a9;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
}
.eventPreview-timeInfo i {
    vertical-align: bottom;
}
.eventPreview-timeInfo i::before {
    margin-right: 8px;
    font-size: 12px;
    vertical-align: middle;
}
.eventPreview-desc {
    color: #67616d;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    text-align: left;
    line-height: 20px;
    margin: 8px 0;
}
.eventPreview-status {
    height: 20px;
}

.eventPreview-statusItem {
    line-height: 20px;
    color: #8c8c8c;
    font-size: 12px;
    float: left;
}
.eventPreview-statusItem i {
    padding-right: 3vw;
    display: inline-block;
}
.eventPreview-statusItem i:before {
    padding-right: 2vw;
    font-size: 16px;
    vertical-align: middle;
    color: #bababa;
}
.eventPreview-centerInfo {
    display: flex;
    width: 100%;
}
.eventPreview-centerLeftInfo {
    flex: auto;
}
.eventPreview-centerRightInfo {
    flex: 0 0 80px;
}
.eventPreview-eventImg {
    width: 64px;
    height: 64px;
    margin: 8px;
}
