.eventList-eventListContainer{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    min-height:40vh;
    margin-top: 50px;
}
.eventList-emptyEvents i{
    font-size: 60px;
    color:#D3C1E5;
}
.eventList-emptyEvents p{
    font-size: 14px;
    color:#BABABA;
}
.eventList-loading{
    line-height: 100px;;
}
.eventList-searchBottom{
    color:#67616D;
    font-size: 12px;
    padding: 0 0 8px 0;
}
.eventList-clearButton{
    color:#67616D;
    border-radius: 10px;
    background-color: #D5EF7F;
    position: absolute;
    right: 5vw;
    font-size: 12px;
    padding: 4px 8px;
}
.eventList-leftText{
    color: #8560A9;
    font-size: 16px;
    width: 50vw;
    display: inline-block;
}
.eventList-searchDesc{
    padding: 0 5vw;
    background-color: #FAF9FC;
}
.eventList-searchTop{
    width: 90vw;
    height: 40px;
    padding: 8px 0;
}